<h1 class="top-font">めでぃこんますた 一覧</h1>
<br />

<a class="btn btn-primary" href="<%= url_for new_media_converter_path %>">新規登録</a> <br />
<br />

<%= render "partials/media_converter_table", is_menu: true %>
<br />

